USE [DISASTERS]
GO
/****** Object:  Table [dbo].[BENEFICIARY]    Script Date: 16/02/2026 11:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENEFICIARY](
	[IdBene] [int] IDENTITY(1,1) NOT NULL,
	[NameBene] [varchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Phone] [char](9) NOT NULL,
	[IdDisaster] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBene] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISASTER]    Script Date: 16/02/2026 11:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISASTER](
	[IdDisaster] [smallint] IDENTITY(1,1) NOT NULL,
	[TypeDisaster] [varchar](10) NOT NULL,
	[LocationDis] [varchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Severity] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDisaster] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRIBUTION]    Script Date: 16/02/2026 11:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRIBUTION](
	[IdRes] [int] NOT NULL,
	[IdBene] [int] NOT NULL,
	[DateDist] [date] NOT NULL,
	[Quantity] [decimal](6, 2) NOT NULL,
	[TypeQty] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRes] ASC,
	[DateDist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONATION]    Script Date: 16/02/2026 11:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONATION](
	[DonorID] [int] NOT NULL,
	[CenterId] [int] NOT NULL,
	[Amount] [money] NOT NULL,
	[DateDonation] [date] NOT NULL,
 CONSTRAINT [PK_DONATION] PRIMARY KEY CLUSTERED 
(
	[DonorID] ASC,
	[CenterId] ASC,
	[DateDonation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONOR]    Script Date: 16/02/2026 11:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONOR](
	[DonorID] [int] IDENTITY(1,1) NOT NULL,
	[NameDonor] [varchar](100) NOT NULL,
	[ContactInfo] [varchar](255) NOT NULL,
	[TypeDonor] [varchar](12) NOT NULL,
 CONSTRAINT [PK__DONOR__052E3F98CC8B30EE] PRIMARY KEY CLUSTERED 
(
	[DonorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 16/02/2026 11:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[DateOrder] [date] NOT NULL,
	[CenterId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS_DETAILS]    Script Date: 16/02/2026 11:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS_DETAILS](
	[IdOrder] [int] NOT NULL,
	[IdRes] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[Discount] [tinyint] NOT NULL,
 CONSTRAINT [PK__ORDERS_D__912B94C99EFC99AC] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC,
	[IdRes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RELIEF_CENTER]    Script Date: 16/02/2026 11:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RELIEF_CENTER](
	[CenterId] [int] IDENTITY(1,1) NOT NULL,
	[NameCenter] [varchar](100) NOT NULL,
	[LocationCenter] [varchar](255) NOT NULL,
	[YearEstablished] [char](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RELIEF_PROJECT]    Script Date: 16/02/2026 11:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RELIEF_PROJECT](
	[IdProject] [int] IDENTITY(1,1) NOT NULL,
	[IdDisaster] [smallint] NOT NULL,
	[CenterId] [int] NOT NULL,
	[NameProject] [varchar](100) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Descrip] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESOURCES]    Script Date: 16/02/2026 11:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESOURCES](
	[IdRes] [int] IDENTITY(1,1) NOT NULL,
	[NameRes] [varchar](30) NOT NULL,
	[TypeRes] [varchar](40) NOT NULL,
	[Stock] [decimal](6, 2) NOT NULL,
	[TypeQty] [varchar](5) NOT NULL,
	[IdSupplier] [tinyint] NOT NULL,
 CONSTRAINT [PK__RESOURCE__2A4A4C0436883A50] PRIMARY KEY CLUSTERED 
(
	[IdRes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 16/02/2026 11:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[IdSupplier] [tinyint] IDENTITY(1,1) NOT NULL,
	[NameSupplier] [varchar](50) NOT NULL,
	[PhoneNumber] [char](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSupplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOLUNTEER]    Script Date: 16/02/2026 11:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOLUNTEER](
	[NumVol] [int] IDENTITY(1,1) NOT NULL,
	[NameVol] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Skills] [varchar](80) NOT NULL,
	[DrivingLic] [bit] NOT NULL,
	[LevelVolunteer] [smallint] NOT NULL,
 CONSTRAINT [PK__VOLUNTEE__7B78FE142EE54C25] PRIMARY KEY CLUSTERED 
(
	[NumVol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOLUNTEER_HOURS]    Script Date: 16/02/2026 11:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOLUNTEER_HOURS](
	[NumVol] [int] NOT NULL,
	[IdProject] [int] NOT NULL,
	[DateWork] [date] NOT NULL,
	[HoursWork] [decimal](3, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NumVol] ASC,
	[IdProject] ASC,
	[DateWork] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BENEFICIARY] ON 

INSERT [dbo].[BENEFICIARY] ([IdBene], [NameBene], [DateOfBirth], [Phone], [IdDisaster]) VALUES (1, N'John Doe', CAST(N'1980-01-01' AS Date), N'612345678', 1)
INSERT [dbo].[BENEFICIARY] ([IdBene], [NameBene], [DateOfBirth], [Phone], [IdDisaster]) VALUES (2, N'Jane Smith', CAST(N'1985-02-02' AS Date), N'723456789', 1)
INSERT [dbo].[BENEFICIARY] ([IdBene], [NameBene], [DateOfBirth], [Phone], [IdDisaster]) VALUES (3, N'Michael Johnson', CAST(N'1990-03-03' AS Date), N'634567890', 1)
SET IDENTITY_INSERT [dbo].[BENEFICIARY] OFF
GO
SET IDENTITY_INSERT [dbo].[DISASTER] ON 

INSERT [dbo].[DISASTER] ([IdDisaster], [TypeDisaster], [LocationDis], [StartDate], [EndDate], [Severity]) VALUES (1, N'Flood', N'Valencia', CAST(N'2023-11-15' AS Date), CAST(N'2023-11-20' AS Date), N'Severe')
INSERT [dbo].[DISASTER] ([IdDisaster], [TypeDisaster], [LocationDis], [StartDate], [EndDate], [Severity]) VALUES (2, N'Wildfire', N'Andalusia', CAST(N'2023-07-01' AS Date), CAST(N'2023-07-10' AS Date), N'Critical')
INSERT [dbo].[DISASTER] ([IdDisaster], [TypeDisaster], [LocationDis], [StartDate], [EndDate], [Severity]) VALUES (3, N'Earthquake', N'Granada', CAST(N'2024-02-05' AS Date), CAST(N'2024-02-07' AS Date), N'Moderate')
SET IDENTITY_INSERT [dbo].[DISASTER] OFF
GO
INSERT [dbo].[DISTRIBUTION] ([IdRes], [IdBene], [DateDist], [Quantity], [TypeQty]) VALUES (1, 21, CAST(N'2023-07-05' AS Date), CAST(25.00 AS Decimal(6, 2)), N'Units')
INSERT [dbo].[DISTRIBUTION] ([IdRes], [IdBene], [DateDist], [Quantity], [TypeQty]) VALUES (1, 1, CAST(N'2023-11-15' AS Date), CAST(15.00 AS Decimal(6, 2)), N'Units')
INSERT [dbo].[DISTRIBUTION] ([IdRes], [IdBene], [DateDist], [Quantity], [TypeQty]) VALUES (1, 41, CAST(N'2024-02-05' AS Date), CAST(23.00 AS Decimal(6, 2)), N'Units')
GO
INSERT [dbo].[DONATION] ([DonorID], [CenterId], [Amount], [DateDonation]) VALUES (1, 1, 100.0000, CAST(N'2024-01-10' AS Date))
INSERT [dbo].[DONATION] ([DonorID], [CenterId], [Amount], [DateDonation]) VALUES (1, 2, 200.0000, CAST(N'2024-01-20' AS Date))
INSERT [dbo].[DONATION] ([DonorID], [CenterId], [Amount], [DateDonation]) VALUES (2, 1, 5000.0000, CAST(N'2024-01-12' AS Date))
GO
SET IDENTITY_INSERT [dbo].[DONOR] ON 

INSERT [dbo].[DONOR] ([DonorID], [NameDonor], [ContactInfo], [TypeDonor]) VALUES (1, N'John Smith', N'john.smith@gmail.com', N'Individual')
INSERT [dbo].[DONOR] ([DonorID], [NameDonor], [ContactInfo], [TypeDonor]) VALUES (2, N'Green Earth Foundation', N'contact@greenearth.org', N'Organization')
INSERT [dbo].[DONOR] ([DonorID], [NameDonor], [ContactInfo], [TypeDonor]) VALUES (3, N'Emma Johnson', N'emma.johnson@gmail.com', N'Individual')
SET IDENTITY_INSERT [dbo].[DONOR] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDERS] ON 

INSERT [dbo].[ORDERS] ([IdOrder], [DateOrder], [CenterId]) VALUES (1, CAST(N'2023-02-01' AS Date), 1)
INSERT [dbo].[ORDERS] ([IdOrder], [DateOrder], [CenterId]) VALUES (2, CAST(N'2023-02-14' AS Date), 2)
INSERT [dbo].[ORDERS] ([IdOrder], [DateOrder], [CenterId]) VALUES (3, CAST(N'2023-02-03' AS Date), 1)
SET IDENTITY_INSERT [dbo].[ORDERS] OFF
GO
INSERT [dbo].[ORDERS_DETAILS] ([IdOrder], [IdRes], [UnitPrice], [Quantity], [Discount]) VALUES (1, 1, 2.5000, 100, 0)
INSERT [dbo].[ORDERS_DETAILS] ([IdOrder], [IdRes], [UnitPrice], [Quantity], [Discount]) VALUES (1, 2, 1.2000, 200, 10)
INSERT [dbo].[ORDERS_DETAILS] ([IdOrder], [IdRes], [UnitPrice], [Quantity], [Discount]) VALUES (1, 3, 0.5000, 300, 0)
GO
SET IDENTITY_INSERT [dbo].[RELIEF_CENTER] ON 

INSERT [dbo].[RELIEF_CENTER] ([CenterId], [NameCenter], [LocationCenter], [YearEstablished]) VALUES (1, N'Centro de Ayuda Esperanza', N'Calle Mayor 12, Madrid, España', N'2010')
INSERT [dbo].[RELIEF_CENTER] ([CenterId], [NameCenter], [LocationCenter], [YearEstablished]) VALUES (2, N'Punto de Socorro Global', N'Avenida de la Paz 45, Barcelona, España', N'2017')
SET IDENTITY_INSERT [dbo].[RELIEF_CENTER] OFF
GO
SET IDENTITY_INSERT [dbo].[RELIEF_PROJECT] ON 

INSERT [dbo].[RELIEF_PROJECT] ([IdProject], [IdDisaster], [CenterId], [NameProject], [StartDate], [EndDate], [Descrip]) VALUES (1, 1, 1, N'Valencia Flood Recovery', CAST(N'2023-11-21' AS Date), CAST(N'2023-11-30' AS Date), N'Providing emergency housing and food to flood victims.')
INSERT [dbo].[RELIEF_PROJECT] ([IdProject], [IdDisaster], [CenterId], [NameProject], [StartDate], [EndDate], [Descrip]) VALUES (2, 2, 2, N'Andalusia Wildfire Relief', CAST(N'2023-07-11' AS Date), CAST(N'2023-08-15' AS Date), N'Restoring affected areas and supporting displaced families.')
INSERT [dbo].[RELIEF_PROJECT] ([IdProject], [IdDisaster], [CenterId], [NameProject], [StartDate], [EndDate], [Descrip]) VALUES (3, 3, 1, N'Granada Earthquake Support', CAST(N'2024-02-06' AS Date), CAST(N'2024-02-10' AS Date), N'Providing medical aid and temporary shelters to earthquake victims.')
SET IDENTITY_INSERT [dbo].[RELIEF_PROJECT] OFF
GO
SET IDENTITY_INSERT [dbo].[RESOURCES] ON 

INSERT [dbo].[RESOURCES] ([IdRes], [NameRes], [TypeRes], [Stock], [TypeQty], [IdSupplier]) VALUES (1, N'Bottled Water', N'Food and Beverages', CAST(5000.00 AS Decimal(6, 2)), N'Units', 1)
INSERT [dbo].[RESOURCES] ([IdRes], [NameRes], [TypeRes], [Stock], [TypeQty], [IdSupplier]) VALUES (2, N'Canned Soup', N'Food and Beverages', CAST(2500.00 AS Decimal(6, 2)), N'Units', 1)
INSERT [dbo].[RESOURCES] ([IdRes], [NameRes], [TypeRes], [Stock], [TypeQty], [IdSupplier]) VALUES (3, N'Rice', N'Food and Beverages', CAST(1200.00 AS Decimal(6, 2)), N'Kgs', 1)
SET IDENTITY_INSERT [dbo].[RESOURCES] OFF
GO
SET IDENTITY_INSERT [dbo].[SUPPLIER] ON 

INSERT [dbo].[SUPPLIER] ([IdSupplier], [NameSupplier], [PhoneNumber]) VALUES (1, N'Global Food Distributors Ltd', N'912345678')
INSERT [dbo].[SUPPLIER] ([IdSupplier], [NameSupplier], [PhoneNumber]) VALUES (2, N'MediCare Supply Solutions', N'923456789')
INSERT [dbo].[SUPPLIER] ([IdSupplier], [NameSupplier], [PhoneNumber]) VALUES (3, N'Textile Relief Partners', N'934567890')
SET IDENTITY_INSERT [dbo].[SUPPLIER] OFF
GO
SET IDENTITY_INSERT [dbo].[VOLUNTEER] ON 

INSERT [dbo].[VOLUNTEER] ([NumVol], [NameVol], [Email], [Skills], [DrivingLic], [LevelVolunteer]) VALUES (1, N'Alice Johnson', N'alice.johnson@gmail.com', N'First Aid, Project Management', 1, 0)
INSERT [dbo].[VOLUNTEER] ([NumVol], [NameVol], [Email], [Skills], [DrivingLic], [LevelVolunteer]) VALUES (2, N'Bob Smith', N'bob.smith@gmail.com', N'Logistics, Cooking', 1, 0)
INSERT [dbo].[VOLUNTEER] ([NumVol], [NameVol], [Email], [Skills], [DrivingLic], [LevelVolunteer]) VALUES (3, N'Carol White', N'carol.white@gmail.com', N'Nursing, Childcare', 1, 0)
SET IDENTITY_INSERT [dbo].[VOLUNTEER] OFF
GO
INSERT [dbo].[VOLUNTEER_HOURS] ([NumVol], [IdProject], [DateWork], [HoursWork]) VALUES (1, 1, CAST(N'2023-11-21' AS Date), CAST(6.0 AS Decimal(3, 1)))
INSERT [dbo].[VOLUNTEER_HOURS] ([NumVol], [IdProject], [DateWork], [HoursWork]) VALUES (1, 1, CAST(N'2023-11-22' AS Date), CAST(3.5 AS Decimal(3, 1)))
INSERT [dbo].[VOLUNTEER_HOURS] ([NumVol], [IdProject], [DateWork], [HoursWork]) VALUES (1, 1, CAST(N'2023-11-27' AS Date), CAST(6.5 AS Decimal(3, 1)))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VOLUNTEE__A9D105344EC0CF84]    Script Date: 16/02/2026 11:42:42 ******/
ALTER TABLE [dbo].[VOLUNTEER] ADD  CONSTRAINT [UQ__VOLUNTEE__A9D105344EC0CF84] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BENEFICIARY]  WITH CHECK ADD FOREIGN KEY([IdDisaster])
REFERENCES [dbo].[DISASTER] ([IdDisaster])
GO
ALTER TABLE [dbo].[DISTRIBUTION]  WITH CHECK ADD FOREIGN KEY([IdBene])
REFERENCES [dbo].[BENEFICIARY] ([IdBene])
GO
ALTER TABLE [dbo].[DISTRIBUTION]  WITH CHECK ADD  CONSTRAINT [FK__DISTRIBUT__IdRes__4F7CD00D] FOREIGN KEY([IdRes])
REFERENCES [dbo].[RESOURCES] ([IdRes])
GO
ALTER TABLE [dbo].[DISTRIBUTION] CHECK CONSTRAINT [FK__DISTRIBUT__IdRes__4F7CD00D]
GO
ALTER TABLE [dbo].[DONATION]  WITH CHECK ADD FOREIGN KEY([CenterId])
REFERENCES [dbo].[RELIEF_CENTER] ([CenterId])
GO
ALTER TABLE [dbo].[DONATION]  WITH CHECK ADD  CONSTRAINT [FK__DONATION__DonorI__4E88ABD4] FOREIGN KEY([DonorID])
REFERENCES [dbo].[DONOR] ([DonorID])
GO
ALTER TABLE [dbo].[DONATION] CHECK CONSTRAINT [FK__DONATION__DonorI__4E88ABD4]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([CenterId])
REFERENCES [dbo].[RELIEF_CENTER] ([CenterId])
GO
ALTER TABLE [dbo].[ORDERS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK__ORDERS_DE__IdOrd__778AC167] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[ORDERS] ([IdOrder])
GO
ALTER TABLE [dbo].[ORDERS_DETAILS] CHECK CONSTRAINT [FK__ORDERS_DE__IdOrd__778AC167]
GO
ALTER TABLE [dbo].[ORDERS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK__ORDERS_DE__IdRes__787EE5A0] FOREIGN KEY([IdRes])
REFERENCES [dbo].[RESOURCES] ([IdRes])
GO
ALTER TABLE [dbo].[ORDERS_DETAILS] CHECK CONSTRAINT [FK__ORDERS_DE__IdRes__787EE5A0]
GO
ALTER TABLE [dbo].[RELIEF_PROJECT]  WITH CHECK ADD FOREIGN KEY([CenterId])
REFERENCES [dbo].[RELIEF_CENTER] ([CenterId])
GO
ALTER TABLE [dbo].[RELIEF_PROJECT]  WITH CHECK ADD FOREIGN KEY([IdDisaster])
REFERENCES [dbo].[DISASTER] ([IdDisaster])
GO
ALTER TABLE [dbo].[RESOURCES]  WITH CHECK ADD  CONSTRAINT [FK__RESOURCES__IdSup__6EF57B66] FOREIGN KEY([IdSupplier])
REFERENCES [dbo].[SUPPLIER] ([IdSupplier])
GO
ALTER TABLE [dbo].[RESOURCES] CHECK CONSTRAINT [FK__RESOURCES__IdSup__6EF57B66]
GO
ALTER TABLE [dbo].[VOLUNTEER_HOURS]  WITH CHECK ADD FOREIGN KEY([IdProject])
REFERENCES [dbo].[RELIEF_PROJECT] ([IdProject])
GO
ALTER TABLE [dbo].[VOLUNTEER_HOURS]  WITH CHECK ADD  CONSTRAINT [FK__VOLUNTEER__NumVo__5812160E] FOREIGN KEY([NumVol])
REFERENCES [dbo].[VOLUNTEER] ([NumVol])
GO
ALTER TABLE [dbo].[VOLUNTEER_HOURS] CHECK CONSTRAINT [FK__VOLUNTEER__NumVo__5812160E]
GO
ALTER TABLE [dbo].[BENEFICIARY]  WITH CHECK ADD CHECK  (([Phone] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[DISASTER]  WITH CHECK ADD CHECK  (([Severity]='Critical' OR [Severity]='Severe' OR [Severity]='Moderate' OR [Severity]='Low'))
GO
ALTER TABLE [dbo].[DISASTER]  WITH CHECK ADD CHECK  (([TypeDisaster]='Other' OR [TypeDisaster]='Tsunami' OR [TypeDisaster]='Wildfire' OR [TypeDisaster]='Hurricane' OR [TypeDisaster]='Flood' OR [TypeDisaster]='Earthquake'))
GO
ALTER TABLE [dbo].[DISTRIBUTION]  WITH CHECK ADD CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[DISTRIBUTION]  WITH CHECK ADD CHECK  (([TypeQty]='Units' OR [TypeQty]='Kgs'))
GO
ALTER TABLE [dbo].[DONOR]  WITH CHECK ADD  CONSTRAINT [CK__DONOR__TypeDonor__49C3F6B7] CHECK  (([TypeDonor]='Organization' OR [TypeDonor]='Individual'))
GO
ALTER TABLE [dbo].[DONOR] CHECK CONSTRAINT [CK__DONOR__TypeDonor__49C3F6B7]
GO
ALTER TABLE [dbo].[RELIEF_PROJECT]  WITH CHECK ADD CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[RESOURCES]  WITH CHECK ADD  CONSTRAINT [CK__RESOURCES__Stock__5FB337D6] CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[RESOURCES] CHECK CONSTRAINT [CK__RESOURCES__Stock__5FB337D6]
GO
ALTER TABLE [dbo].[RESOURCES]  WITH CHECK ADD  CONSTRAINT [CK__RESOURCES__TypeQ__60A75C0F] CHECK  (([TypeQty]='Units' OR [TypeQty]='Kgs'))
GO
ALTER TABLE [dbo].[RESOURCES] CHECK CONSTRAINT [CK__RESOURCES__TypeQ__60A75C0F]
GO
ALTER TABLE [dbo].[RESOURCES]  WITH CHECK ADD  CONSTRAINT [CK__RESOURCES__TypeR__619B8048] CHECK  (([TypeRes]='Fuel and Energy' OR [TypeRes]='Hygiene Products' OR [TypeRes]='Clothing and Textiles' OR [TypeRes]='Medical Supplies' OR [TypeRes]='Food and Beverages'))
GO
ALTER TABLE [dbo].[RESOURCES] CHECK CONSTRAINT [CK__RESOURCES__TypeR__619B8048]
GO
ALTER TABLE [dbo].[SUPPLIER]  WITH CHECK ADD CHECK  (([PhoneNumber] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[VOLUNTEER]  WITH CHECK ADD  CONSTRAINT [CK__VOLUNTEER__Email__628FA481] CHECK  (([Email] like '%_@%_.%_'))
GO
ALTER TABLE [dbo].[VOLUNTEER] CHECK CONSTRAINT [CK__VOLUNTEER__Email__628FA481]
GO
